h1{
    font-family: verdana;
    font-size: 16px;
    margin: 0 0 5px 0;
}

h2{
    font-family: verdana;
    font-size: 12px;
    font-style: italic;
    margin: 0;
    margin: 0 0 5px 0;
}

.slider_tag{
    font-family: verdana;
    font-size: 10px;
    font-style: italic;
    margin: 0;
    margin: 0 0 5px 0;
}
#treeCanvas {
    width: 700px;
    height: 500px;
    border: solid 1px black;
    background-color: white;
}

#draw, #clear {
    width: 135px;
    float: left;
    padding: 5px;
    text-align: center;
    font-family: Verdana;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
}
#draw{
    background-color: green;
    margin-left: 125px;
}
#clear{
    background-color: red;
    margin-left: 50px;
}
#draw:hover, #clear:hover {
    cursor: pointer;
}

.p_slider{
    width: 700px;
}